$gray: rgba(0, 0, 0, .54);
$background: #f5f5f5;
$border: #D2D2D2;
$primary-orange: #ea8037;
html,
body {
    background-color: $background;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

form button {
    background: white;
    border: 1px solid #eee;
    height: 55px;
    box-shadow: 1px 1px 5px #D6D0D0;
}

label.select {
    font-size: 1.5em;
    padding: 5px;
}

.tasks {
    .card {
        cursor: pointer;
        box-sizing: border-box;
        float: left;
        margin: 0.5%;
        width: (100%/3 - 1);
        border: 1px solid $border;
        background-color: white;
        overflow: hidden;
        img {
            display: block;
            float: left;
            width: 30%;
        }
        .task-header {
            width: 70%;
            float: right;
            overflow: hidden;
            height: 2em;
        }
        .actions {
            width: 70%;
            float: right;
            text-align: right;
            margin: 3px 3px 0 0;
        }
        .title {
            width: 70%;
            height: 5.6em;
            display: block;
            box-sizing: border-box;
            padding: 0.875em;
            padding-bottom: 0;
            float: right;
        }
        .id {
            display: block;
            float: left;
            padding: 5px 0.875em 0;
            color: lighten($gray, 50%);
            margin: 0;
        }
    }
}

.set-task-state {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    form {
        margin: 0 1%;
    }
    button {
        font-size: 1.5em;
        width: 100%;
        margin: 10px 0;
        &.active {
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.zoomInLeft {
    -webkit-animation-name: zoomIn;
}

@media screen and (max-width: 1150px) {
    .tasks .card {
        margin: 1%;
        width: 48%;
    }
}

@media screen and (max-width: 760px) {
    .tasks .card {
        margin: 1%;
        width: 98%;
    }
}

@import 'print';
