head
	block head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet' type='text/css' href='/style.css')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript")

block content
	span Empty
	
block scripts