extends layout

append head
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")

block content
	.fixed-action-btn.task-list-actions
		a.btn-floating.btn-large
			i.large.material-icons menu
		ul
			li
				label.waves-effect.waves-light.btn-floating.deep-orange.lighten-2.tooltipped(data-position="left" data-delay="25" data-tooltip="Select all")
					i.material-icons select_all
					input.hide.select-all(type="checkbox")
			li
				a.waves-effect.waves-light.btn-floating.deep-orange.lighten-2.print-selected.tooltipped(data-position="left" data-delay="25" data-tooltip="Print selected")
					i.material-icons print
			li
				a.add-card.waves-effect.waves-light.btn-floating.deep-orange.lighten-2.tooltipped(data-position="left" data-delay="25" data-tooltip="Add card")
					i.material-icons add
	ul.tasks
		each task in tasks
			include partials/task.jade

append scripts
	script.
		var data = !{JSON.stringify(tasks)};
		$('.card').click(function(){
			var box = $(this).find('input.select');
			var checked = box.prop('checked');
			box.prop('checked', !checked).trigger("change");
		});

		$('.add-card').click(function(){
			
		})

		$('input.select').change(function() {
			var checked = $(this).prop('checked');
			$(this).parents('.card').toggleClass('printy', checked);
			$(this).siblings('.material-icons').text(checked ? 'check_box' : 'check_box_outline_blank');
		});

		$('input.select-all').change(function() {
			var checked = $(this).prop('checked');
			$('input.select').each(function(){
				$(this).prop('checked', checked).trigger("change");
			})
		});

		$('.print-selected').click(function() {
			window.print();
		});
		