extends layout

block content
	ul.tasks
		each task in tasks
			li.card.task
				a(href="/tasks/#{task.Id}")
					span.id= task.UserStory.Id
					img(src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=http://bb.6fstudios.com/tasks/#{task.Id}")
					span.title= task.Name
